
.vs/NESharp/v15/.suo
.vs/NESharp/v15/Browse.VC.db
.vs/NESharp/v15/.suo
.vs/NESharp/v15/Server/sqlite3/storage.ide
.vs/NESharp/v15/Server/sqlite3/storage.ide-shm
.vs/NESharp/v15/Server/sqlite3/storage.ide-wal
